{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<main role="main" class="mb-4">
        <div class="container">
            <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Bienvenue !</h1>
        <p class="col-md-8 fs-4">Vous êtes actuellement sur la plateforme e-commerce de Dians PC.</p>
        <p><small>Vous y retrouverez tout type de matériel informatique, des formations, du merch, des produits de téléphonie, des figurines, etc...</small></p>
        <a class="btn btn-dark btn-lg" href="{{ path('app_clients')}}">Voir les produits</a>
    </div>
</div>
        </div>
    </main>
{% endblock %}
